<!DOCTYPE html>
<html lang='en-US'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Heroic To-Do List</title>
    <meta name='description' content='Being a hero isn&apos;t just about saving the world. There are many quests and sub-quests which must be completed in the process. This list is guaranteed to help you keep track of all your heroic plans so you can focus on being a hero!' />
    <meta name='author' content='Samuel Cupidon' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <link rel='stylesheet' href='./css/main.css' />
  </head>

<body id='item0'>
<div class='container-fluid'>
  <div class='row-fluid'>
      <h1 class='text-center'>Heroic To-do List</h1>
      <h5 class='text-center'>So many quests, so little time</h2>
    <div ng-app='listApp' ng-controller='listController as lc'>
      <div class='col-xs-12 col-sm-5 col-lg-4 menu-section' ng-class='{"menu-closed": !lc.showForm}' ng-show='lc.showForm'>
        <div class='col-xs-offset-11 col-xs-1 menu-close-button' ng-click='lc.hideForm()'>X</div>
        <div class='col-xs-12'>
          <div ng-class='lc.getEditMode() ? "edit-form" : "add-form"'>
          <form name='lc.listForm' novalidate ng-cloak>
            <span class='menu-header'>{{ lc.getEditMode() ? "Edit Quest" : "Add Quest" }}<br /></span>
            Main Quest
              <select class='form-control' ng-model='lc.formFields.parentId' ng-change='lc.updateFields()' scroll-to-list-item>
                <option value='0'>-- None --</option>
                <option ng-repeat='item in lc.listItems | editOptionsFilter' value='{{ item.id }}'>{{ item.title | optionTitleFilter : item.id }}</option>
              </select><br />
              <input type='text' class='form-control task-name-box'  ng-model='lc.formFields.title' ng-keyup='lc.updateFields()' placeholder='Enter a quest' required /><br />
              <textarea class='form-control' ng-model='lc.formFields.desc' ng-keyup='lc.updateFields()' placeholder='Enter a quest description (optional)' ></textarea><br />
              <input type='submit' ng-disabled='!lc.listForm.$valid' ng-click='lc.addOrSaveButton()' class='btn btn-success' value='{{ lc.getEditMode() ? "Save Changes" : "Add Quest" }}'>
              <button class='btn btn-danger' ng-click='lc.cancelOrExitButton()'>{{ lc.getEditMode() ? "Cancel" : "Clear Form" }}</button>
          </form><!--lc.listForm-->
        </div>
        <br />
        Filter list
        <select class='form-control' ng-model='lc.filterValue' filter-checked-status>
          <option value=''>Show All</option>
          <option value='0'>Show Uncompleted</option>
          <option value='1'>Show Partially Completed</option>
          <option value='2'>Show Completed</option>
        </select>
        <br />
        Search List
        <input type='text' class='form-control' ng-model='lc.searchValue' filter-search-value placeholder='Search for a list value' /><br />
      </div>
      </div>
      <div ng-class='{"col-sm-offset-5 col-sm-7 col-lg-offset-4 col-lg-8" : lc.showForm}' class='complete-bar col-xs-12'>
        <div class='col-xs-1'>
          <span uib-tooltip='Add main quest' tooltip-class='tooltip-font' tooltip-placement='auto right' class='glyphicon glyphicon-plus add-button' ng-click='lc.showFormWithMainQuestSelected("0")'></span>
        </div>
        <div class='col-xs-1'>
          <!--<span class='glyphicon list-checkbox' ng-class='lc.listItems.length === 0 ? "glyphicon-unchecked complete-checkbox-disabled" : lc.allChecked() ? "glyphicon-check" : "glyphicon-unchecked"' ng-click='lc.listItems.length !== 0 ? lc.checkAll() : ""'></span>-->
          <span uib-tooltip='Check / uncheck all items' tooltip-class='tooltip-font' tooltip-placement='auto top' class='glyphicon list-checkbox' ng-class='lc.listItems.length === 0 ? "glyphicon-unchecked complete-checkbox-disabled" : lc.allChecked() ? "glyphicon-check" : "glyphicon-unchecked"' check-all></span>
        </div>
        <div class='col-xs-1' ng-cloak>
          <span uib-tooltip='Total percentage completed' tooltip-class='tooltip-font' tooltip-placement='auto top' ng-cloak>{{ lc.fullProportionCompleted() * 100 | number : 2 }}%</span>
        </div>
        <div class='col-xs-offset-5 col-xs-1'>
          <!--<span class='glyphicon complete-expand-collapse-button' ng-class='{"expand-collapse-disabled" : lc.listItems.length === 0, "glyphicon-menu-up": lc.allCollapsed(), "glyphicon-menu-down" : !lc.allCollapsed()}'ng-click='lc.listItems.length !==0 ? lc.toggleCollapseAll() : ""'></span>-->
          <span uib-tooltip='Collapse / expand all sub-quests' tooltip-class='tooltip-font' tooltip-placement='auto top' class='glyphicon complete-expand-collapse-button' ng-class='{"expand-collapse-disabled" : lc.listItems.length === 0, "glyphicon-menu-up": lc.allCollapsed(), "glyphicon-menu-down" : !lc.allCollapsed()}' toggle-collapse-all></span>
        </div>
        <div class='col-xs-1'>
          <span uib-tooltip='Show / hide all descriptions' tooltip-class='tooltip-font' tooltip-placement='auto top' class='glyphicon glyphicon-list-alt' ng-class='lc.allDescriptionsHidden() ? "close-button" : "add-button"' toggle-hide-all-descriptions></span>
        </div>
        <div class='col-xs-1'>
          <span uib-tooltip='Remove all completed quests and sub-quests' tooltip-class='tooltip-font' tooltip-placement='auto top' class='glyphicon glyphicon-ok close-button' remove-completed></span>
        </div>
        <div class='col-xs-1'>
          <span uib-tooltip='Remove all quests' tooltip-class='tooltip-font' tooltip-placement='auto top' class='glyphicon glyphicon-remove close-button' remove-all></span>
        </div>
      </div>
      <div class='col-xs-12 list-section' ng-class='lc.showForm ? "col-sm-offset-5 col-sm-7 col-lg-offset-4 col-lg-8" : "col-xs-12"'>
        <ul class='list-group main-list' ng-repeat='item in lc.listItems | filter : {parentId : "0"} : true track by item.id'>
          <li id='{{ "item" + item.id }}' class='list-group-item'  ng-show='item.matchesFilter && item.matchesSearch' ng-mouseenter='lc.setHoveredOn(item.id, true)' ng-mouseleave='lc.setHoveredOn(item.id, false)'
          ng-class='"list-group-item-" + ((item.id === lc.formFields.parentId) ? "selected" : (lc.getEditMode() && item.id === lc.getEditId()) ? "editing" : ["uncompleted", "partially-completed", "completed"][item.completed])' ng-include='"./templates/list-item.html"'>
          </li><!--.list-group-item-->
        </ul><!--.list-group-->
      </div><!--.col-xs-12 col-md-6-->
      <div class='col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-5 col-lg-offset-4 col-lg-3'>
        Legend
        <ul class='list-group legend'>
          <li class='list-group-item list-group-item-uncompleted add-border'>Uncompleted</li>
          <li class='list-group-item list-group-item-partially-completed add-border'>Partially completed</li>
          <li class='list-group-item list-group-item-completed add-border'>Completed</li>
          <li class='list-group-item list-group-item-editing add-border'>Currently being edited</li>
          <li class='list-group-item list-group-item-selected add-border'>Current main quest</li>
        </ul>
      </div>
      <div class='bottom-bar text-center' ng-show='lc.showBottomBar'>This site uses local storage to store your list.<span class='close-bottom-bar' ng-click='lc.showBottomBar = false'>X</span></div>
    </div><!--mainApp-->
  </div><!--.row-fluid-->
</div><!--.container-fluid-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js'></script>
  <script src='./js/ui-bootstrap-tpls-1.3.3.min.js'></script>
  <script src='./js/ngStorage.min.js'></script>
  <!--<script src='./js/app.js'></script>-->
  <script src='./app/app.js'></script>
  <script src='./app/directives/listDirective.js'></script>
  <script src='./app/controllers/listController.js'></script>
  <script src='./app/services/listService.js'></script>
  <script src='./app/filters/listFilter.js'></script>
</body>
</html>
